<!--<mat-card class="card mat-elevation-z3">-->
<!--  <mat-card-header class="card-header">-->
<!--    <mat-card-title class="header-text">Sign In</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <button mat-raised-button>Google</button>-->

<!--  </mat-card-content>-->
<!--</mat-card>-->

<div class="wrapper">
  <h2 class="title">To-do app</h2>
  <h2 class="subtitle">Sign in</h2>
  <button mat-raised-button class="sign-in-button">
    <img src="assets/icons/google-logo.png" />
    <span>Google</span>
  </button>
</div>
