:host{
  width: 50%;
}

.card{
  background: var(--color5);
}

.card-header {
  justify-content: center;
}

.header-text {
  color: var(--color2);
}

.divider{
  margin-top: 5%!important;
}

@media (max-width: 450px) {
  :host {
   width: 100%
  }
  .card {
    height: 100%;
  }
  .card-header {
    margin-top: 10px!important;
  }
}
