<div class="wrapper">
  <input type="search" placeholder="type your new task" class="input-style"
         [value]="inputValue"
         [disabled]="loading"
         (input)="this.handleInputChange($event)"
  />
  <button [disabled]="!inputValue || loading" mat-stroked-button color="primary" class="add-button"
          (click)="onSubmit()"
  >
    <mat-icon *ngIf="!loading">add</mat-icon>
    <mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
  </button>
</div>
