/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  /*--background: #F4A261;*/
  /*--primary: rgb(127, 108, 94);*/
  /*--secondary: rgb(103, 61, 62);*/
  /*--text: "";*/
  --color1: #32213A;
  --color2: #383B53;
  --color3: #66717E;
  --color4: #D4D6B9;
  --color5: #D1CAA1;
}

.mat-checkbox-inner-container {
  height: 35px!important;
  width: 35px!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:  var(--color3);
  border-radius: 5px!important;
}
.mat-checkbox-frame {
  border-color: var(--color3);
  border-radius: 5px!important;
}
