.wrapper-placeholder {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%  0;
}

.loader{
  margin: 0 auto;
}

.empty-placeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder-text {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: var(--color2);
}
.placeholder-icon {
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%  0;
  max-height: 200px;
  -webkit-overflow-scrolling: auto;
  overflow: auto;
  background:
    linear-gradient(var(--color5) 30%, var(--color5)),
    linear-gradient(rgba(255, 255, 255, 0), var(--color5) 0%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 10px, 100% 10px, 100% 10px, 100% 10px;
  background-attachment: local,local,scroll,scroll;
}


::-webkit-scrollbar {
  width: 10px!important;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 5px;
}

@media (max-width: 450px) {
  .wrapper {
    max-height: 500px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

